{% extends './index.html' %}

{% block content %}
   <div class="grid grid-cols-7">
    <div class="px-3 grid col-span-5">
        {% if blog %}
        <div class="py-2  flex flex-col items-center w-full">
            <h2 class="font-bold">{{blog.title }}</h2>
            <img src="{{blog.thumbnail.url}}" class=" rounded-xl" alt="">
            
            <p class="text-center">{{blog.content|safe }}</p>
        </div>
        {% else %}
            <h2>No blog Find</h2>
        {% endif %}
     </div>
     <div class="grid col-span-2 my-4 px-2 ">
        {% if otherblogs %}
            {% for otherblog in otherblogs %}
    <div class=" h-36 w-full rounded-lg border flex flex-col items-center justify-center" style="background-image: url('{{ otherblog.thumbnail.url }}'); background-size: cover; background-position: center;">
        <div class=" inset-2" >
                <a class="max-w-[80%] text-center inset-0 flex justify-center items-start self-end text-green-500 hover:bg-slate-400 px-3 py-1 hover:text-orange-300 font-bold" href="{% url 'single_blog' otherblog.id %}">{{ otherblog.title }}</a>
        </div>

    </div>
{% endfor %}
            
        {% endif %}
        
     </div>
   </div>
    
{% endblock content %}
    