<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contect Email</title>
    <style>
img{
    width: 20px;
    height: 20px;
    padding-left: 20px;
}
h1{
    font-weight: bolder;
    
}
body{
    padding:20px;
    align-items: center;
}
    </style>
</head>
<body>
    <div >
        <img src="../../static/images/logo2.png"  alt="">
    </div>
    <h1>Requesting A help from School Web</h1>
    <div>
        <p>{{message}}</p>
    </div>
</body>
</html>