{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Web</title>

     {% tailwind_css %}
     <script src="{% static 'js/Jquery.js' %}"></script>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body class="flex flex-col min-h-screen">
   <div id="top" class="top items-center justify-center" style="background-image: url('{% static "images/school_bg.jpg" %}');">
    <nav class="px-10 flex flex-row justify-between items-start pb-10">
        <div class=" flex flex-row items-center justify-between flex-1">
            <img src="{% static 'images/logo2.png' %}" alt=" " class=" rounded-full items-center">
        <ul class="flex flex-row gap-4 px-2">
            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="" class="hover:text-white font-bold">Home</a></li>
            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="" class="hover:text-white font-bold">Home</a></li>

            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="" class="hover:text-white font-bold">Home</a></li>
            
                {% if user.is_authenticated %}
                <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="" class="hover:text-white font-bold text-green-600 "> {{user.username}} </a></li>
                <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 border rounded-md"><a href="{% url 'logout' %}" class="hover:text-white font-bold text-orange-600 "> Logout </a></li>
                {% else %}
            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1  border  rounded-md"><a href="{% url 'register' %}" class="hover:text-white font-bold "> Register </a></li>
            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 border   rounded-md"><a href="{% url 'login' %}" class="hover:text-white font-bold "> Login </a></li>
            {% endif %}
          
            
            
            <!-- <li><a href="">Home</a></li>
            <li><a href="">Home</a></li> -->
        </ul>
        </div>
    </nav>
    <div class="flex flex-col items-center justify-center pt-10">
        <div class="max-w-[48%]">
        {% block Headlines %}
            
        {% endblock Headlines %}
        </div>
    </div>
   </div>
   
  <div class="flex-grow">
     {% block content %}
    
   {% endblock content %}
  </div>
    <footer class="flex flex-row w-full justify-between px-10 py-20 items-center self-center bg-slate-400 mt-14">
        <div class="max-w-[30%]">
            <img src="{% static 'images/logo2.png' %}" class="w-14" alt="">
            <h5 class="text-xs">Jl. Siliwangi No 123, Cibadak, Cibadak, Sukabumi,Jawa Barat 43351, Indonesia, (0266)531333</h5>
            <p class="font-bold text-xs">ngogainnocent1@gmail.com</p>
            <p class="font-bold text-xs">+250782214360</p>
        </div>
        <div>
            <h3 class="font-bold">Links</h3>
            <ul>
                <li>Home</li>
                <li>Profile</li>
                <li>Contact us</li>
                <li>Programs</li>
            </ul>
        </div>
        
       <div>
        <h2 class="font-bold py-2">Media Links</h2>
         <div class="flex flex-row gap-2">
            <p><i class="fa-brands fa-square-facebook"></i></p>
             <p><i class="fa-brands fa-square-x-twitter"></i></p>
              <p><i class="fa-brands fa-square-instagram"></i></p>
               <p><i class="fa-brands fa-square-youtube"></i></p>
        </div>
       </div>

    </footer>
   
</body>
</html>