{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Web</title>

     {% tailwind_css %}
     <script src="{% static 'js/Jquery.js' %}"></script>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body class="flex flex-col min-h-screen">
   <div id="top" class="top items-center justify-center" style="background-image: url('{% static "images/school_bg.jpg" %}');">
    <nav class="px-10 flex flex-row justify-between items-start pb-10">
        <div class=" flex flex-row items-center justify-between flex-1">
            <img src="{% static 'images/logo2.png' %}" alt=" " class=" rounded-full items-center">
        <ul class="flex flex-row gap-4 px-2">
            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="{% url 'home' %}" class="hover:text-white font-bold">Home</a></li>
            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="{% url 'home' %}#value" class="hover:text-white font-bold">Value</a></li>

            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="{% url 'home' %}#blog" class="hover:text-white font-bold">Blog</a></li>
            
                {% if user.is_authenticated %}
                    {% if status == 'student' %}
                     <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="{% url 'student_dashboard' %}" class="hover:text-white font-bold text-green-600 "> Dashboard </a></li>
                     {% elif status == 'parent' %}
                      <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="{% url 'parent_dashboard' %}" class="hover:text-white font-bold text-green-600 "> Dashboard </a></li>
                    {% elif status == 'lecture' %}
                        <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="{% url 'staff_dashboard' %}" class="hover:text-white font-bold text-green-600 "> Dashboard </a></li>
                        {% else %}
                        
                    {% endif %}
                    
                <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 rounded-md"><a href="" class="hover:text-white font-bold text-green-600 "> {{user.username}} </a></li>
                <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 border rounded-md"><a href="{% url 'logout' %}" class="hover:text-white font-bold text-orange-600 "> Logout </a></li>
                {% else %}
            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1  border  rounded-md"><a href="{% url 'register' %}" class="hover:text-white font-bold "> Register </a></li>
            <li class="hover:bg-yellow-600 hover:transition hover:border px-4 py-1 border   rounded-md"><a href="{% url 'login' %}" class="hover:text-white font-bold "> Login </a></li>
            {% endif %}
          
            
            
            <!-- <li><a href="">Home</a></li>
            <li><a href="">Home</a></li> -->
        </ul>
        </div>
    </nav>
    <div class="flex flex-col items-center justify-center pt-10">
        <div class="max-w-[48%]">
        {% block Headlines %}
            
        {% endblock Headlines %}
        </div>
    </div>
   </div>
   
  <div class="flex-grow">
     {% block content %}
    
   {% endblock content %}
  </div>
    <footer class="flex flex-row w-full justify-between px-10 py-20 items-center self-center bg-slate-400 mt-14">
        <div class="max-w-[30%]">
            <img src="{% static 'images/logo2.png' %}" class="w-14" alt="">
            <h5 class="text-xs">Jl. Siliwangi No 123, Cibadak, Cibadak, Sukabumi,Jawa Barat 43351, Indonesia, (0266)531333</h5>
            <p class="font-bold text-xs">ngogainnocent1@gmail.com</p>
            <p class="font-bold text-xs">+250782214360</p>
        </div>
        <div>
            <h3 class="font-bold">Links</h3>
            <ul>
                <li>Home</li>
                <li>Profile</li>
                <li>Contact us</li>
                <li>Programs</li>
            </ul>
        </div>
        <div>
            <h1 class="font-bold text-xl my-2">Contact Us</h1>
           {% if email_message %}
            <p>{{email_message}}</p>
           {% endif %}
           <div id="spinner" class=" hidden w-5 h-5 rounded-full border border-dashed animate-spin"></div>
            <form action="" id="contact_us" class="gap-y-3">
                <div class="my-2">
                    <input  type="hidden" value="{{ csrf_token }}" id="csrf_token">
                    <input required type="email" id="sender" class="border rounded-lg bg-transparent font-bold text-gray-600" placeholder="Enter Your Email">
                </div>
                <div><textarea required name="" id="email_message" placeholder="Enter your Message" class="max-h-20 w-[100%] border rounded-lg bg-transparent fonti-semibold"></textarea></div>
                <button type="submit" class="text-white bg-green-900 hover:bg-green-700 border rounded-lg px-5 py-2">Submit</button>
            </form>
        </div>
       <div>
        <h2 class="font-bold py-2">Media Links</h2>
         <div class="flex flex-row gap-2">
            <p><i class="fa-brands fa-square-facebook"></i></p>
             <p><i class="fa-brands fa-square-x-twitter"></i></p>
              <p><i class="fa-brands fa-square-instagram"></i></p>
               <p><i class="fa-brands fa-square-youtube"></i></p>
        </div>
       </div>
       <div id="email_result" class="hidden fixed bottom-12 right-12 rounded-lg bg-gray-600 px-10 py-1">
            <p id="email_text" class="text-white font-bold">Email Sent</p>
       </div>

    </footer>
   <script>
    $('#contact_us').on('submit',function(e){
        $('#spinner').removeClass('hidden')
        e.preventDefault()
        const sender=$('#sender').val()
        const message=$('#email_message').val()
        $.ajax({
            method:'POST',
            url:'{% url "contact_us" %}',
            data:{
                'email':sender,
                'message':message,
                'csrfmiddlewaretoken':$('#csrf_token').val()
            },
            success:function(data){
                $('#email_text').text(data)
                $('#email_result').removeClass('hidden')
                $('#spinner').addClass('hidden')
                setTimeout(function(){
                    $('#email_result').addClass('hidden')
                },5000)
                sender=''
                message=''
            },
            error:function(error){
                console.log(error)
            }
        })
    })
   </script>
</body>
</html>