{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SchoolWeb</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
            #name{
                background-color: #0056E8;
                align-self: center; 
                padding: 3px;
                color: white;
                font-weight: bold;
                text-align: center;
                border-radius: 4px;
                width: 60%;
                margin-bottom: 10px;
            }
    </style>
</head>
<body>
    <img src="{% static 'images/logo2.png' %}" alt="" style="height: 50px;width: 50px;">
    <div id="name">
        {{student.first_name}} {{student.last_name}} Marks
    </div>
    <table style="width: 60%;border-width: 1px;align-self: center;">
        <thead>
            <tr style="background-color: '';">
                <th style="padding: 2px;">Lesson</th>
                <th style="padding: 2px;">Type</th>
                <th style="padding: 2px;">Total</th>
                <th style="padding: 2px;">mark</th>
            </tr>
        </thead>
        <tbody>
            {% if marks %}
            {% for mark in marks  %}
                <tr>
                    <td style="text-align: center;padding: 2px;">{{mark.lesson}}</td>
                    <td style="text-align: center;padding: 2px;">{{mark.type}}</td>
                    <td style="text-align: center;padding: 2px;">{{mark.total}}</td>
                    <td style="text-align: center;padding: 2px;">{{mark.marks}}</td>
                </tr>
            {% endfor %}
            
            {% else %}
            <h2>No marks Found</h2>
                
            {% endif %}
            
        </tbody>
    </table>
</body>
</html>